<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card{
            border: 2px solid black;
            margin: 0 auto;
            }
    </style>
</head>
<body>

    <div class="container">
    <h1>Hello Welcome at About page !</h1>
    <p>This website is made by Abhishek ...</p>

    <h1>I love Programming  and my name is {{ name }}</h1>
    <p>You can found me here {{ link }}></p>

    <div class="card">
  <img class="card-img-top img-fluid" src="https://i.ibb.co/LNNjxsC/Abhishek.jpg" style="width: 20rem; height: 20rem; alt="Abhishek Maheshwari">

    <h3>I am Abhishek Maheshwari , final year Student pursuing Computer Science and Engineering
        from MAIT.I am Web Developer,Cloud Enthusiatic and love to solve puzzles in my leisure time .
        Also love to explore new technologies that are prevailing in the market.This Website is developed by me along with help of Internet .</h3>
    </div>
    </div>

</body>
</html>